<div class="group rounded-lg border">
  <a
    [routerLink]="['/product', product.id]"
    routerLinkActive="router-link-active"
    class="w-full overflow-hidden rounded-t-lg bg-gray-200"
  >
    <img
      [src]="
        product.images[0].indexOf(symbolSearched) === -1 ||
        product.images[0].indexOf(textSearched) !== -1
          ? product.images[0]
          : '/assets/no-image.jpg'
      "
      [alt]="product.title"
      class="h-full w-full object-cover object-center group-hover:opacity-75"
    />
  </a>
  <div class="flex flex-col gap-2 p-4 h-full">
    <p class="flex justify-between gap-8">
      @if(product.images[0].indexOf(textSearched) !== -1){
      <span class="text-md text-wrap text-gray-700 font-semibold">
        {{ product.title }}
      </span>
      } @else { Information not available }
      <span class="text-md font-semibold text-red-800">
        {{ product.price | currency : "$" : "symbol" : "1.0" }}
      </span>
    </p>
    <p class="text-xs text-gray-900">
      {{ product.creationAt | timeAgo }}
    </p>
    <button
      class="text-black bg-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 w-full hover:bg-gray-300 hover:ease-in"
      (click)="addToCartHandler()"
    >
      Add to cart
    </button>
  </div>
</div>
